body {
  background-color: rgb(119, 117, 117);
}

.section-wallet {
  margin: 10px;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin-left: 32%;
  margin-top: 50px;
  border-radius: 5px;
  background-color: rgb(221, 220, 220);
  box-shadow: 2px 2px 2px 2px black;
}

.container-form input {
  margin-top: 20px;
  font-size: 20pt;
  font-weight: 600;
}

.container-form input:hover {
  box-shadow: 2px 2px 4px black;
}

.container-form button {
  margin-top: 20px;
  width: 70pt;
  height: 30pt;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
}

.container-form button:hover {
  box-shadow: 2px 2px 4px black;
}

.container-form img {
  width: 310px;
  height: 120px;
}

.container-form span {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px black;
  width: 330px;
  height: 150px;
  margin-bottom: 30px;
}
